@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gilroy";
    src: url("./assets/fonts/gilroy.ttf");
}

body {
    font-family: "gilroy";
}

/* Ellipse 2 */

.circle{
box-sizing: border-box;
position: absolute;
width: 670.51px;
height: 670.51px;
left: -293.31px;
top: 993.1px;

transform: rotate(-55.88deg);
}